@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.trainingStaffSection-container {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .trainingStaffSection-container:before {
    content: '';
    position: absolute;
    background: url('../../assets/section-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.03;
  }


.wrapper-content {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 5rem 0;
}

.trainingStaffSection-left {
    width: 50%;
    text-align: center;
}

.trainingStaffSection-left img {
    width: 80%;
    border-radius: 10px;
}

.trainingStaffSection-right {
    width: 600px;
    margin: auto;
    padding: 0 2rem;
}


.trainingStaffSection-right h2 {
    font-size: 3rem;
    color: #5a5c82;
}

.trainingStaffSection-right h1 {
    text-transform: uppercase;
    color: #977ab3;
    font-size: 1rem;
    letter-spacing: 8px; 
}

.trainingStaffSection-right p {
    line-height: 25px;
    text-align: justify;
}



@media screen and (max-width:1250px)  {
    .trainingStaffSection-right {
        width: 100%;
        padding: 1rem 2rem;
    }

    .trainingStaffSection-right h1, .trainingStaffSection-right h2, .trainingStaffSection-right p {
        text-align: center;
    }

    .trainingStaffSection-right h2 {
        font-size: 2rem;
    }

}

@media screen and (max-width:940px) {
    .trainingStaffSection-left {
        width: 100vw;
    }
    .trainingStaffSection-left img {
        padding: 2rem;
    }
}

